@import "../../index.css";

.navbar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  height: 75vh;
  width: 15%;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--glass-gradient);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: var(--primary-border);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 12px;
  z-index: 2;
}

.title {
  font-size: 40px;
  font-weight: 750;
  text-decoration: none;
  padding: 30px 0;
  color: var(--primary-text-color);
}

.menu {
  display: flex;
}

.menuBtn {
  display: none;
}

.menu ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 33px;
  list-style: none;
}

.navbarLink {
  font-size: 25px;
  color: var(--primary-text-color);
  text-decoration: none;
  transition: all 0.3s ease-in;
}

.menu ul li a:hover,
.menu ul li a:active {
  border-bottom: solid 2px var(--primary-text-color);
}

@media screen and (max-width: 830px) {
  .navbar {
    display: none;
    height: 55%;
    width: 55%;
    transition: all 1s ease;
  }

  .navbar:active {
    transform: rotateX(360deg);
  }

  .title {
    padding-top: 0;
    padding-bottom: 25px;
    margin-top: 0;
    font-size: 28px;
  }

  .menu ul {
    gap: 16px;
  }

  menu ul li {
    width: 100%;
    height: 50px;
    overflow: hidden;
  }

  .navbarLink {
    font-size: 20px;
  }

  .menuBtn {
    position: fixed;
    top: 30px;
    height: 60px;
    width: 60px;
    margin-left: 2%;
    padding: 15px;
    display: block;
    z-index: 1000;
    cursor: pointer;
    font-size: 28px;
    background: transparent;
    color: var(--primary-text-color);
  }

  .openBtn {
    background: var(--glass-gradient);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: var(--primary-border);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 8px;
  }

  .menuOpen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
  }
}
