.App {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--gradient);
  background-size: 400% 400%;
  animation: animate 5s ease infinite;
}

@keyframes animate {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}
